@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
  max-width: 1320px;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.openNav{
  animation-name: openAnm;
  animation-duration: .2s;
  overflow: hidden;
}

@keyframes openAnm{
  from{
    width: 0%;
  }
  to{
    width: 300px;
  }
}